[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-cors = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
migrate = "flask db migrate"
upgrade = "flask db upgrade"
start = "python app.py"
